<template>
  <div class="row">
    <form>
      <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-md-6 col-md-offset-3">
        <label>Quote</label>

        <textarea class="form-control" rows="3" v-model="quote"></textarea>
        <p v-if="quote.length>0">Your Quote is {{quote}}</p>
      </div>
      <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-md-6 col-md-offset-3">
        <button class="btn btn-primary" @click.prevent="AddNew">Add New Quotes</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      quote: ""
    };
  },
  methods: {
    AddNew() {
      this.$emit("quoteAdded", this.quote);
      //sending by emit event to Parent
      this.quote = "";
    }
  }
};
</script>

<style scoped>
</style>