<template>
  <div class="row">
    <div class="col-sm-12">
      <h3>Quote Added</h3>
      <div class="progress">
        <div
          class="progress-bar bg-success"
          role="progressbar"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
          :style="{width:(quoteCount/maxQuotes)*100+'%'}"
        >
        {{quoteCount+'/'+maxQuotes}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["quoteCount", "maxQuotes"],
  created(){
      console.log(this.quoteCount+this.maxQuotes)
  }
};
</script>