<template>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="panel panel-default">
      <div class="panel-body quote">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

.panel {
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
  margin: 30px auto;
}
.quote {
  cursor: pointer;
}
.quote:hover {
  background-color: #ffe2e2;
}
</style>
