<template>
  <div class="container">
    <ProgressBar :quoteCount="Quotes.length" :maxQuotes="maxQuotes"></ProgressBar>
    <!-- {{maxQuotes}}
    <li v-for="quotes in Quotes" :key="quotes">{{quotes}}</li>-->
    <NewQuote @quoteAdded="newAdded($event)"></NewQuote>
    <QuoteGrid :quotes="Quotes" @quoteDeleted="deleteQuote($event)"></QuoteGrid>
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="alert alert-info">Info Click on Quote to Delete It</div>
      </div>
    </div>
  </div>
</template>

<script>
import QuoteGrid from "./components/QuoteGrid";
import NewQuote from "./components/NewQuote";
import ProgressBar from "./components/ProgressBar";
export default {
  name: "App",
  components: {
    QuoteGrid,
    NewQuote,
    ProgressBar
  },
  data: function() {
    return {
      Quotes: ["This is the first Quotes"],
      maxQuotes: 10
    };
  },
  methods: {
    newAdded(quote) {
      if (this.Quotes.length >= this.maxQuotes) {
        return alert(
          "Sorry Post is Full Please Delete Some Post To Add New Post"
        );
      }
      this.Quotes.unshift(quote);
    },
    deleteQuote(index) {
      this.Quotes.splice(index);
    }
  }
};
</script>

<style>
</style>
